dataset1/color-out-segmentedMovie.tif
dataset1/fixe-drift-out-segmentedMovie.tif
dataset1/MAX_15-02-2017_zo1-gfp-488-Atho1-488-2.tif
dataset1/out-segmentedMovie.tif
dataset1/segmentedMovie.tif
dataset1/single-color-out-segmentedMovie.tif
dataset1/t1-trans-out-segmentedMovie.tif