data/dataset1/color-out-segmentedMovie.tif
data/dataset1/fixe-drift-out-segmentedMovie.tif
data/dataset1/MAX_15-02-2017_zo1-gfp-488-Atho1-488-2.tif
data/dataset1/out-segmentedMovie.tif
data/dataset1/segmentedMovie.tif
data/dataset1/single-color-out-segmentedMovie.tif
data/dataset1/t1-trans-out-segmentedMovie.tif
data/dataset2/*.tif
data/dataset4/*.tif
data/dataset5/*.tif
data/dataset6/*.tif
data/dataset7/*.tif
data/dataset8/*.tif